html { 
  background: url('../img/IMG_8235.JPG') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Oswald', 'sans-serif';
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover p {color:#FFFF66;}

h1 {
	color: #FF0000;
}

h2 {
	color: #FF0000;
}

/* Black Box Columns */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	margin-top: 7%;

}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0 0.33% 0% 0.33%;
	background-color:rgba(0, 0, 0, 0.81);
	color: #FFF;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 33%;
}
.span_2_of_3 {
	width: 33%;
}
.span_1_of_3 {
	width: 32.8%;
}

#people img {
	margin: 9px;
}

#people {
	display: inline-block;
	text-align: center;
}

#intro-about {
	margin-left: 50px;
	margin-right: 50px;
}



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 50rem) {
	.col { 
		margin: 0.33% 0 0.33% 0.33%;
	}
}

@media only screen and (max-width: 50rem) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

/* About Styling First Box First Page */

#about {
	


}

/* Middle Column Custom Style */

#middle {
	
	background-color:rgba(220, 10, 1, 0.75); /* Changes Colour Of Middle Column */
	text-align: center;	
	height: 400px;

}

/* The First Page Facebook Connect Box The Box On The Right */

#connect {
	
	
	
}

/* Start Button Styling */

#begin {
	margin-top: 175px;
	font-size: 30px;
	font-color: #5B5D5B;
}

/* Paragraph Choice Menu Formatting */

#choices {
	text-align: center;
	line-height: 60px;

}


/* New Re-Appearing Divs */

#bottom1 {
	
	position: fixed;
	bottom: 10px;
	margin: 0 0 0 -25%;
	left:50%;
	width:50%;
	height: 150px;
	background-color:rgba(0, 0, 0, 0.81);
	color: #FFF;
	display: none;

}

#top1 {
	position: fixed;
	bottom: 200px;
	margin: 0 0 0 -25%;
	left:50%;
	width:50%;
	height: 200px;
	background-color:rgba(0, 0, 0, 0.81);
	color: #FFF;
	display: none;
	
}

#flashContent {
	
	display: none;
}

#box1, #box2, #box3, #box4 {
	display: none;
	margin: 0 0 0 35%;
	margin-top: 50px;

}

/* For Full screen Background Video for BOX 1 OPTION 4 */

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: 100;
background: url('img/videoposter.jpg') no-repeat;
background-size: cover;
display: none;
}

#video {
	display: none;
	z-index: 100;
}

#first {
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

#title {
	font-size: 39px;
}

#start {

}

